#triangle-left {
	position:fixed;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid #DDDDDD;
	border-bottom: 12px solid transparent;
	float: left;
}
#triangle-left:hover {
	position:fixed;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 24px solid #803030;
	border-bottom: 12px solid transparent;
	float: left;
}